.title{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #223344;
}
.title div{
    font-size: 30px;
    color: white;
}
.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    padding-top: 30px;
}
.field{
    display: flex;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.field-name{
    padding: 10px;
}
.input-field{
    height: 24px;
    width: 200px;
}
.submit-box{
    height: 30px;
    width: 48px;
}
